<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6ppF2n0zeWt_3CSqNUu9051yZ1RF7mSw</string>
	<key>GCM_SENDER_ID</key>
	<string>930671228267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramnath.pansari.shop.ios</string>
	<key>PROJECT_ID</key>
	<string>ramnath-pansari-6aea0</string>
	<key>STORAGE_BUCKET</key>
	<string>ramnath-pansari-6aea0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930671228267:ios:57495d612b04edd30b082e</string>
	<key>DATABASE_URL</key>
	<string>https://ramnath-pansari-6aea0-default-rtdb.firebaseio.com</string>
</dict>
</plist>